img {
    height: 400px;
    border: 3px solid red;
    display: block;
    margin-bottom: 100px;
}


/*  deg - kąt  */

#man {
    transform: rotate(-20deg);
}


/* mogę używać transform np. all np 0.3 z hoverem do translate*/

#man2 {
    transform: translateX(200px);
    transform: translateY(-150px);
    transform: translate(200px, -150px);
}

#man3 {
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(0.7) rotate(20deg);
}


/*  to że obrazek nie wraca do pierwotnej definiuje w id powyżej width 100%  dla #man4*/

#man4 {
    animation-name: stretch;
    animation-duration: 5s;
    width: 100%;
}

@keyframes stretch {
    from {
        width: 70px;
    }
    to {
        width: 100%;
    }
}

#man5 {
    animation-name: second-stretch;
    animation-duration: 10s;
    width: 30%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


/* ininte albo np 3 - to jest ilość powtórzeń
timing function - to efekty na końcu i na początku animacji
*/

@keyframes second-stretch {
    0% {
        width: 50%;
    }
    50% {
        width: 80%
    }
    100% {
        width: 30%
    }
}


/*
mogę zapisać

@keyframes second-stretch {
    0%, 100% {
        width: 50%;
    }
    50% {
        width: 80%
    }
}
*/

body {
    margin: 0;
}

.outer {
    width: 400px;
    height: 400px;
    border: 5px solid green;
    background-color: antiquewhite;
    position: relative;
    margin: auto
}

.inner {
    width: 50px;
    height: 50px;
    background-color: blue;
    bottom: 0;
    position: absolute;
    animation-name: boxx;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes boxx {
    0%,
    100% {
        transform: translate(0px, 0px) rotate(90deg);
    }
    25% {
        transform: translate(350px, 0px) rotate(180deg) scale(2);
    }
    50% {
        transform: translate(350px, -350px) rotate(270deg) scale(5);
    }
    75% {
        transform: translate(0px, -350px) rotate(360deg);
    }
}